@charset "UTF-8";

.kontakt {
  width: 15em;
  border: 1px solid #333;
  box-shadow: 8px 8px 5px #444;
  padding: 8px 12px;
  background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
}

header {
	
}

header-menu {
	position: absolute;
	top: 0;
	width: 100%;
	text-align: center;
	font-size: 10px;
	padding: 3em;
	color: grey;
	background-color: transparent;
	border-left: none;
	border-bottom: none;
	border-right: none;
	font-size: 20px;
}

.logo {
	width: 100px;
	height: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto
}
.submit {
	background-color: transparent;
	border-left: none;
	border-bottom: none;
	border-right: none;
	font-size: 20px;
}

.submit:hover {
	
	background-color: #ddd;
	color: black;
}


